* {
  font-family: Meiryo, メイリオ, sans-serif;
}

body {
  background-color: #555555;
  margin: 0;
}

a {
  text-decoration: none;
}
a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #000000;
}
a:active {
  color: #000000;
}

#menu {
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 16px;
}

#chart {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
}

footer {
  bottom: 1%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@media screen and (max-width:1280px){
  #menu {
    font-size: 12px;
  }

  footer {
    font-size: 12px;
  }
}
